* {
	box-sizing: border-box;
}

body {
	font-family: 'Cormorant Infant', serif;
	line-height: 1.6;
	width: 90%;
}

header  {
	display: inline-block;
	width: 100vw;
	justify-content: space-around;
}

h1 {
  background-color: #28393e;
	color: white;
	text-align: center;
	padding: 10px;
	align: center;
	width: auto;
	margin-top: 0;
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.2em;
}

p {
	font-size: 1.2em;
	margin: 0;
	padding: .5em;
	text-align: center;
}

label {
	font-size: 1.2em;
	margin: 0;
	padding: .5em 0;
	text-align: center;
}

form {
  width: 320px;
  margin: 20px auto;
}

.sign-up {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	padding-right: 10%;
	padding-left: 10%;
}

/* ------------Border styles ------------ */
.new1 {
  border: 1.5px solid black;
}
.new2 {
  border: 1px solid black;
}

}

input [type="text"],
input [type="tel"],
input [type="email"],
select {
  display: block;
	border: none;
  height: 50px;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  margin-bottom: 10px;
}

input [type="submit"] {
	width: 300px;
	height: 50px;
	border: none;
	background: lightgreen;
	color: white;
}

input {
	padding: 15px;
	font-size: 16px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin-bottom: 30px;
}

select {
	padding: 15px;
	font-size: 16px;
	height: auto;
	width: 100%;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin-bottom: 20px;
}

.zipcode input {
	max-width: 20px;
	???????
}

/* ---------Placeholder placement-------- */
/* webkit solution */
::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; }

option[value=""][disabled] {
  display: none;
}

option {
	color: slategrey;
}
/* -------Radio and Checkboxes---------- */

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
	margin: 0 4px 8px 0;
}


textarea {
	padding: 15px;
	font-size: 16px;
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	margin-bottom: 10px;

}

/*-----Button-------*/


button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color:  #009999;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
	border: none;
  margin-bottom: 10px;
}


/*---------Code----------

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



@media screen and (min-width: 480px) {

  form {
    max-width: 320px;
  }

}
*--------- End -------------*/
